.fontepadrao {
  font-size: 1.2em;
}
.collapse {
  &:not(.show) {
    display: none;
  }
}

.lead, .lead-black {
  font-weight: 500!important;
}

.bg-primary .bg-gradient {
  background-color: #1155CC!important;
}

.negrito {
  font-weight: bold;
  font-color: #1155cc;
}

.dinheiros {
  font-size: 1.6em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium Web', sans-serif;
}

branco {
  font-family: 'Titillium Web', sans-serif;
  font-size: 5em;
  color: #FFFFFF;
  font-weight: bold;
}

.bg-vermelho {
  background-color: #FF0000;
  color: #FFFFFF;
}

.bg-laranja {
  background-color: #e59400;
  color: #FFFFFF;
}



azul {
  font-family: 'Titillium Web', sans-serif;
  font-size: 5em;
  color: #1155CC;
  font-weight: bold;
}

.previdencia {
  color: #a61c00;
}

.educacao {
  color: #3d85c6;
}

.saude {
  color: #ff9900;
}

.seguranca {
  color: #674ea7;
}

.infraestrutura {
  color: #555555;
}

.agricultura {
  color: #6aa84f;
}


.cabecalho {
  font-size:1.8em;
  color:#FFFFFF;
  font-family: 'Titillium Web',sans-serif;
  line-height:1em;
  margin-left:20px;
  margin-right:20px;
  padding: 5px 10px;
  font-weight:bold;
  border-radius: 10px;
  border-right: 1px solid #5888db;
  border-left: 1px solid #5888db;
  background-color: #1451bc;


}

.navbar {
  background-color: #1155cc;
  color: #FCFCFC;
}
.menusuperior {
  font-size: 1.1em;
}

.botao-laranja {
  background-color: #ec5c1c!important;
  border: #ec5c1c!important;
}
.botao-laranja {
  background-color: #ec5c1c!important;
}

.collapsing {
  height: 0;
  overflow: hidden;
  @include transition($transition-collapse);
}

.navbar-toggler {
  color: #FFFFFF;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #1155cc;
  border: #8cc34c;
  z-index: 999;
}



.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.accordion-body {
  background-color: #e9f4fF;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 1800px) {
  .bg-setas {
    background: url('img/setas.jpg') no-repeat bottom left;
    background-size:28%;
  }
  .img-grafico {
    margin-top: -50px;
  }
}

@media (min-width: 1024px) and (max-width: 1799px) {
  .bg-setas {
    background: url('img/setas.jpg') no-repeat bottom left;
    background-size:35%;
  }
  .img-grafico {
    margin-top: -20px;
  }
}

@media only screen and (max-width: 1023px) {
.desktop {
  display: none;
}
.menusuperior {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}
.cabecalho {
  font-size:1.1em;
  line-height:1.1em;
  float: left;
  margin: auto 7px;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px #1155cc;
  color: #FCFCFC!important;
}
branco, azul {
  font-size: 2.4em;
}

.bg-setas {
  background: none;
}
}


@media only screen and (min-width: 1024px) {

.mobi {
  display: none;
}
.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  border: solid 1px #1155cc;
  color: #FCFCFC!important;
}

.nav-link:hover {
  border-top: solid 1px #7099e0;
  border-bottom: solid 1px #7099e0;
}
}

.b-divider {
  height: 2rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-divider-azul {
  height: 1rem;
  background-color: rgba(17, 85, 204, .6);
  border: solid rgba(17, 85, 204, .9);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(17, 85, 204, .6), inset 0 .125em .5em rgba(17, 85, 204, .9);
}

.b-divider-maior {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-divider-maior-azul {
  height: 3.5rem;
  background-color: rgba(17, 85, 204, .6);
  border: solid rgba(17, 85, 204, .9);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(17, 85, 204, .6), inset 0 .125em .5em rgba(17, 85, 204, .9);
}

.b-divider-final {
  height: 1rem;
  background-color: #05193d;
}


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
